spring:
  application:
    name: deloitte-ai
  datasource:
    url: jdbc:postgresql://localhost:5432/appdb
    username: appuser
    password: secret
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: always

application:
  ai:
    api-key: ${OPEN_API_KEY:key}
    model: ${AI_MODEL:gpt-4o-mini}
    temperature: 0.1